@media screen and (max-width: 1060px){
    .hamburger{
        display: block; 
        align-self: center;   
    }

    .link{
        display: none;
    }

    #myBtn{
        display: none;
    }

    .topnav {
        grid-template-columns: 1fr 100px;
    }
}

@media screen and (max-width: 650px){
    #myBtn{
        display: none;
    }

    .topnav {
        grid-template-columns: 1fr 100px;
        grid-template-rows: 1fr;

    }

    .hamburger{
        grid-row: 1;
        grid-column: 3;
        padding-right: 20px;
    }


}

 


  