@media screen and (max-width: 1060px){
    .hamburger{
        display: block; 
        -ms-flex-item-align: center; 
            -ms-grid-row-align: center; 
            align-self: center
    }

    .link{
        display: none;
    }

    #myBtn{
        display: none;
    }

    .topnav {
        -ms-grid-columns: 1fr 100px;
        grid-template-columns: 1fr 100px;
    }
}

@media screen and (max-width: 650px){
    #myBtn{
        display: none;
    }

    .topnav {
        -ms-grid-columns: 1fr 100px;
        grid-template-columns: 1fr 100px;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;

    }

    .topnav > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    
        }
    
        .topnav > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    
        }

    .hamburger{
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 3;
        grid-column: 3;
        padding-right: 20px;
    }    
}

/* @media only screen and (max-width: 936px){
    .modal{
        grid-template-rows: 2fr;
        grid-template-areas:
        "modal-content";
    }
    .modal-content{
        grid-template-rows: 4fr;
        grid-template-areas:
        "close"
        "h2"
        "img"
        "section2AboutMe";
    }
} */



 


  