*{
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
      
    
}
body {
min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}

header,
main,
footer{
    margin: 0 auto;
    max-width: 800px;
}

html{
    font-size: 16px;
    margin-top: 3em;
   }
h1, h2, h3{
    color: white;
}
header{
    padding-top: 8em;
    
    font-size: 1em;
}
h1{
    font-size: 3em;
}

span{
    display: flex;
    font-size: 1.5em;
    color:white;
    padding: 1em;
    flex-grow: 2;
    
    
}
#sectionSpan{
    background-color: #2c2416;
    position: relative;
    height: auto;
    min-height: 100% !important;
    
}
#sectionSpan p{
    padding-left: 25px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow:row;
    background: #2c2416;
}
nav a{
    display: flex;
    color:white;
    text-decoration: none;
    padding: 2em;
    justify-content: flex-end;
    font-size: 1.5em;
}
#name{
    display: flex;
    flex-grow: 1;
    padding: .5em 1em;
    font-size: 3em;
    color: white;
}

nav a:hover{
    background-color: rgb(54, 46, 46);
   }
section{
    margin: 1em;
    /*padding-top: 3em;*/
    min-height: 20em;
}
section >p{
    margin: 1em 0;
}
section ul{
    padding-left: 1.5em;
}
#myProjects{
    position: relative;
}
#projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    
}
#projects article{
    background: #2c2416;
    padding: 1em;
}

#projects article img{
    width: 224px;
    height: 126.28px;
    border: 1px solid white;
}
#aboutMe{
    background: #2c2416;
    /*padding: 1em;*/
    color: white;
}

#aboutMe p{
    padding: 1em;
    margin: 0;
    padding-top: .5em;
}
#aboutMe h4{
    margin: 0;
    padding-left: 15px;
    padding-bottom: 5px;
}
#aboutMe img{
    width: 300px;height:400px;
}
#getInTouch{
    background-color: #2c2416;
    position: relative;
    height: auto;
    min-height: 100% !important;
    padding-bottom: 5px;
}
#getInTouch p{
    padding-left: 25px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 0;
 }
#getInTouch h2{
padding-top: 5px;
padding-left: 10px;
}


footer{
    
    background:#2c2416;
    padding: 1em 0;
    text-align: center;
    color: white;

    
    
}